<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>lesson8_array_guessNumber</title>
    <link rel="stylesheet" href="/static/css/lesson8_array_guessNumber.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>

    <main>
        <div class="banner">
            <div class="banner_context">
                <h1>Welcome to Guess world !</h1>
                <button class="startGame">Start the game</button>
            </div>

        </div>

        <div class="playground">
            <div class="column left_div">
                <div class="left_top_div" id="left_top_div">
                    <h2>請輸入 4 個數字</h2>
                    <p>遊戲規則：<br>
                        1.不可有空格，數字0~9皆可<br>
                        2.有10次猜題機會！<br> 
                        3.位置正確且數字正確以A表示 <br>
                        4.位置錯誤但數字正確以B表示 <br>
                        5.記錄請看下面表格</p>

                    <div class="input_demo2" id="input_demo2">
                        <form>
                            <input id="input_text0" class="input_text" type="text" maxlength="1">
                            <input id="input_text1" class="input_text" type="text" maxlength="1">
                            <input id="input_text2" class="input_text" type="text" maxlength="1">
                            <input id="input_text3" class="input_text" type="text" maxlength="1">
                            <!-- myFunction乃先驗證輸入值是否有空格或<1或>9，若通過驗證則執行userInput() -->
                            
                            <button id="submit" type="button" onclick="myFunction()">送出</button>
                            
                            <!-- 下面不是個好方法，有一些問題待克服。若以submit的方式送出後，不會印出結果於table中，且會刷新頁面，回到banner。
                                要想個辦法讓畫面停在輸入的地方 -->
                            <!-- <input id="submit" type="submit" value="送出" onclick="myFunction()"> -->
                        </form>
                      
                        
                    </div>
                    <div id="display"></div>
                </div>

                <div class="left_bottom_div" id="left_bottom_div">
                    <p class="right_answer">正確答案為：<span id="answer"></span></p>
                    <div id="information"></div><br>
                    <div class="playAgain" id="playAgain">
                        <button type="text" onclick="playAgian()">再玩一次</button>
                    </div>
                    
                </div>
            </div>
            <div class="column right_div" id="right_div">
                <table>
                    <thead>
                        <caption>玩家記錄</caption>
                    </thead>
                    <tbody id="tb_result">
                        <tr>
                            <th>輸入值</th>
                            <th>結果</th>
                        </tr>
                        <tr>
                            <td id="input_td1"></td>
                            <td id="result_td1"></td>
                        </tr>
                        <tr>
                            <td id="input_td2"></td>
                            <td id="result_td2"></td>
                        </tr>
                        <tr>
                            <td id="input_td3"></td>
                            <td id="result_td3"></td>
                        </tr>
                        <tr>
                            <td id="input_td4"></td>
                            <td id="result_td4"></td>
                        </tr>
                        <tr>
                            <td id="input_td5"></td>
                            <td id="result_td5"></td>
                        </tr>
                        <tr>
                            <td id="input_td6"></td>
                            <td id="result_td6"></td>
                        </tr>
                        <tr>
                            <td id="input_td7"></td>
                            <td id="result_td7"></td>
                        </tr>
                        <tr>
                            <td id="input_td8"></td>
                            <td id="result_td8"></td>
                        </tr>
                        <tr>
                            <td id="input_td9"></td>
                            <td id="result_td9"></td>
                        </tr>
                        <tr>
                            <td id="input_td10"></td>
                            <td id="result_td10"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>


    </main>

    <script src="/static/js/lesson8_array_guessNumber.js"></script>
</body>
</html>


<!-- 
    1.使用者輸入的四個空格儲存成array_B
    2.正確答案4個數字以亂數生成，存成array_A
    3.比對array_A與array_B
        判斷有幾個A(數字及位置皆一致)
            array_A[i]=array_B[i]   則 A + 1
        判斷有幾個B(數字正確，位置錯誤)

    4.output：使用者輸入的數字為__ __ __ __，結果： __ A __ B
    5.使用者繼續輸入四個數字，填完送出。

-->